<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>HostelFinder.com is the right site for your online confirmed bookings at thousands of cheap Hostels and budget accommodation India: in this page you can find the complete list of states where you can book your next stay, ordered by continent...we have lowcost and smart hostels in Tamil Nadu, Telengana, Karnataka, Kerela!</p>
        <p>So just choose your next destination and we will help you in finding the right place to stay and the cheapest offers available, thanks to exclusive discounts for Membership Card holders, Erasmus students or groups. Our site is translated in 27 languages and each property has a fully detailed descriptions, including photo galleries, reliable customers reviews and dynamic hostel maps. And if you have any doubt feel free to contact our smart customer care staff by phone, email, or via chat, we’re looking forward to help you and we’ll be your guide to the worldwide hostels search!</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>3 Feb. 2013</dd>
              <dt>Major Stake Holder</dt>
              <dd>King Kong Hostels</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$1,250,375</dd>
              <dt>Employees</dt>
              <dd>40</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>'World Is Our Playground' is a big room banger that makes you wanna check into a hostel and call Mike Taylor.</h3>
        <footer>-- Yogi Berra,
          <cite>The Wit and Wisdom of Yogi Berra,
            P. Pepe, Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


</div>


